<!DOCTYPE HTML>
<html ng-app="itunes">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="mainCtrl">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="myContainer">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-music"></span> DevTunes</a>
          </div>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <div class="form-specifics">
                <select class="form-control" ng-model="mediatype">
                  <option value="all">all</option>
                  <option value="music">music</option>
                  <option value="podcast">podcast</option>
                  <option value="audiobook">audiobook</option>
                  <option value="musicVideo">musicVideo</option>
                </select>
                <select class="form-control" ng-model="limit">
                  <option value=25>25</option>
                  <option value=50>50</option>
                  <option value=100>100</option>
                  <option value=150>150</option>
                  <option value=200>200</option>
                </select>
                <input type="checkbox" name="explicit" value="No" ng-model="explicit">No Explicit
              </div>
              <input type="text" class="form-control" ng-model="term" placeholder="search" >
              <button class="btn btn-primary" ng-click="getSongData(term,mediatype,limit,explicit)"> Submit </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"> Your Search Results:</div>
     <div class="gridStyle" ng-grid="gridOptions" swap-image="defaultInfo.search"></div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/itunesService.js"></script>
  </body>
</html>
